// Styling for the footer
.footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    font-size: 100%;
    line-height: 60px;
    text-transform: none;
    @include heading-font;
  }
  ul.quicklinks {
    font-size: 100%;
    line-height: 60px;
    margin-bottom: 0;
    text-transform: none;
    @include heading-font;
  }
}

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      font-size: 1px;
      line-height: 50px;
      display: block;
      width: 0.1px;
      height: 0.1px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      background-color: #ffffff;
      &:active,
      &:focus,
      &:hover {
        /*background-color: $primary;*/
      }
    }
  }
}
