// Styling for the masthead
header.masthead {
  text-align: Left;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 290px;
    padding-bottom: 90px;
    .intro-lead-in {
      animation-duration: 0.5s;
      animation-name: slidein1;
      font-size: 21px;
      line-height: 21px;
      margin-bottom: 15px;
      @include serif-font;
    }
    .intro-heading {
      animation-duration: 0.7s;
      animation-name: slidein1;
      font-size: 39px;
      font-weight: 600;
      line-height: 39px;
      margin-bottom: 15px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 210px;
      padding-bottom: 210px;
      .intro-lead-in {
        font-size: 39px;
        line-height: 39px;
        margin-bottom: 15px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 600;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

@keyframes slidein1 {
  from {
    margin-height: 30%;
    width: 100%;
    color: rgba(1,1,1,0);
  }

  to {
    margin-height: 0%;
    width: 100%;
    color: rgba(1,1,1,1);
  }
}
