// Styling for the masthead
header.masthead {
  text-align: Left;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 300px;
    padding-bottom: 119px;
    .intro-lead-in {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 15px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 39px;
      font-weight: 500;
      line-height: 39px;
      margin-bottom: 15px;
      @include heading-font;
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 210px;
      padding-bottom: 210px;
      .intro-lead-in {
        font-size: 39px;
        line-height: 39px;
        margin-bottom: 15px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 600;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
